
<!DOCTYPE html>
<html lang="en">

<!-- <head> section for meta information : support all characters and page width and zoom/size -->
<head>
    <meta charset="UTF-8">                                                      
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <!-- <link rel="stylesheet" type="text/css" href="home.page.css">  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>

    

<!-- <header> section for the Logo, sign up and login.  -->
    <header>
        <h2 class="LOGO">StudySpotter</h2>
        <nav class="navigation">
            <a href="#">Sign Up</a>
            <a href="#">Login</a>
            <a href="#" onclick="iconClicked()">
                <i class="fa-regular fa-circle-user"></i>
            </a>
        </nav>
    </header>

    <div class="GS">
        <div class="typing-text">Get Studying</div>
    </div>
    <div id="wrap">
        <div class="steam steam-one"></div>
        <div class="steam steam-two"></div>
        <div class="steam steam-three"></div>
        <div class="steam steam-four"></div>
   

    <div class="container">
        <div class="scale-cup">
          <div class="con">
            <div class="cup">
              <div class="top">
                <div class="circle">
                  <div class="tea"></div>
                </div>
              </div>
              <div class="handle"></div>
            </div>
          </div>
        </div>
      </div>

      </div>









</body>